@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* @import "./fonts.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  /* color: #1a1a1a; */
  letter-spacing: -0.02em;
  font-optical-sizing: auto;
}
ul,
li {
  list-style: none;
}
a {
  color: #1a1a1a;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;

  z-index: 100;
  background-color: #fff;
}

.logo {
}
.logo a {
}
.logo a img {
}

.inner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 로고 왼쪽, 메뉴 오른쪽 */
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list {
  position: relative;
  display: flex;
  gap: 113px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.menu-list li {
  position: relative;
}
.menu-list li a {
  padding: 0 16px;

  text-align: center;
}
.user-menu {
  display: flex;
  gap: 10px;
}
.user-buttons {
  display: flex;
  gap: 10px; /* 🔥 이거 추가 */
  margin-left: 10px;
  padding: 0 16px;
}
.btn {
  min-height: 40px;
  gap: 8px;

  align-items: center;
  justify-content: center;
  padding: 5px 16px 5px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 100px;
}

.btn-primary {
  background-color: #052146;
  color: #fff;
}

.btn-outline {
  border: 1px solid #052146;
  background-color: fff;
  color: #49454f;
}
.hero {
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.benefit {
  width: 100%;
  padding: 120px 0;
  text-align: center;
}

.benefit-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
}

.benefit-item {
  /* width: 200px; */
  text-align: center;
}
.benefit-item img {
  width: 150px;
}

.process {
  width: 100%;
  padding: 80px 0;
  background-color: #e2efff;
}

.section-title {
  margin-bottom: 140px;
  font-size: 28px;
  text-align: center;
}

.process-list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.process-card {
  padding-bottom: 300px;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
}

.process-card:nth-child(even) {
  transform: translateY(100px);
}

.process-card img {
  width: 100%;
  display: block;
}

.card {
  margin-top: 115px;
  padding: 0 150px;
  background: #fff;
  text-align: center;
}
.card-list {
  display: grid;
  gap: 70px;
  justify-content: center;

  margin-top: 150px;
  grid-template-columns: repeat(4, auto);
}

.card-item img {
  max-width: 250px;
}
.card-item p {
  margin-top: 50px;
}

.card-btn {
  width: 300px;
  height: 35px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 5px 16px 5px;
  border: none;
  background-color: #002147cc;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 100px;
}
.card-btn::after {
  content: "→";
  margin-left: 5px;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end; /* 🔥 오른쪽 끝으로 이동 */
  margin-top: 180px;
}
.support {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px; */
  padding: 80px 0;
}
.support-inner {
  display: flex;
  gap: 40px;
}

.support-left {
  flex: 1;
  text-align: center;
}
.support-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq,
.notice {
  display: flex;
  flex-direction: column;
}
.faq ul,
.notice ul {
  margin: 20px 0;
  list-style: none;
}
.faq h3,
.notice h3 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #002147;
  text-align: left;
}
.faq li,
.notice li {
  width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  background: #ff7f50;
  font-weight: 300;
  color: white;
  border-radius: 20px;
}

.support-left,
.support-right {
  min-width: 0;
  flex: 1;
}
.support-right h3 {
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 30px;
  color: #002147;
}
.more-btn {
  width: 130px;
  height: 35px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-self: flex-end;
  padding: 5px 16px 5px;
  border: none;
  background-color: #002147cc;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  /* white-space: nowrap; */
  cursor: pointer;
  border-radius: 100px;
}

.more-btn::after {
  content: "→";
  display: inline-block;
  margin-left: 5px;
  transform: translateY(3px);
}

.event img {
  border-radius: 20px;
}

.event-swiper {
  width: 100%;

  margin: 0 auto;
  overflow: hidden;
  /* aspect-ratio: 3/4; */
}

.event-card {
  width: 450px;
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s;
  border-radius: 20px;
}

.event-card:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.swiper-slide {
  display: flex;

  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  /* border-radius: 20px; */
}
.footer {
  min-height: 300px;
  padding: 80px 0;
  background: #233447;
  color: white;
}
.footer .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.footer-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer-menu {
  margin-bottom: 20px;
}
.footer .footer-menu li {
  font-size: 16px;
  font-weight: 300 !important;
  line-height: 1 0.6;
}

.sns-list {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.sns-list img {
  width: 60px;
  height: 60px;
}
.footer-right {
  margin-left: auto;
  text-align: left;
}
.footer-logo img {
  width: 100px;
}
.footer-bottom span {
  font-weight: 300;
}
